/* 	Overrides */

header { background: #006396; border-top: solid 5px #004F79; }
header a { color: white; }
nav li { padding: 20px 10px; }
nav li a:hover, nav li:hover > a { transition: all 0.5s ease; background: rgba(255,255,255,0.3); color: white; }
nav li ul { top: 4.6em; background: #006396; border: rgba(255,255,255,0.3) 1px solid; }
nav li ul a { padding-top: 15px; padding-bottom: 15px; }
nav li ul:hover { background: #006396; }
#nav-icon { background: white; color: black; min-width: auto; min-height: auto; }
.triangle { border-top-color: rgba(255,255,255,0.6); margin-left: 10px; }

/* New */

.nav-text-dim { color: #006396; padding-left: 10px; }
.example { background: #f2f2f2; width: 100%; height: 100%; } 
#site-logo { height: 30px; float: left; margin-top: 32px; margin-left: 25px; margin-right: 10px; }


@media (max-width: 667px) {
	#site-logo { margin-top: 15px; margin-left: 15px; }
	#nav-icon { float: right; }
}